@{
    ViewData["Title"] = "Home Page";
}


<div class="home">
    <div class="home-top">
        <div class="home-top-left">
            <a class="text-body first-text" href="">About Us</a>
            <a class="text-body" href="">Contact</a>
            <a class="text-body" href="">Helps</a>
        </div>

        <div class="home-top-right">
            <button class="button-in" type="submit">Sign In</button>
            <button class="button-up" type="submit">Sign Up</button>
        </div>
    </div>

    <div class="home-top-name">
        <div class="home-top-name-shop">
            <a href="" class="shop-name">
                <span class="first-name">G5</span>
                <span class="last-name">Shopping</span>
            </a>
        </div>

        <div class="home-top-search">
            <form action="">
                <div class="home-top-search-main">
                    <input type="text" class="form-search-input" placeholder="Search for products">
                    <div class="search">
                        <span class="input-search">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="home-top-contact">
            <p class="text-contact">Customer Services - (+84)12 345 6789</p>
        </div>
    </div>

    <div class="home-navbar">
        <div class="home-navbar-main">
            <a href="" class="home-navbar-main-option active">Home</a>
            <a href="" class="home-navbar-main-option">Shopping</a>
            <a href="" class="home-navbar-main-option">Cart</a>
            <a href="" class="home-navbar-main-option">Favorite</a>
            <a href="" class="home-navbar-main-option">History</a>
        </div>
    </div>

    <div class="home-carousel">
        <div class="home-carousel-main">
            <div class="home-carousel-left">
                <div id="header-carousel" class="home-carousel-slide" data-ride="carousel">
                    <ol class="home-carousel-indicators">
                        <li class="ol-item active-slide" data-target="#header-carousel" data-slide-to="0"></li>
                        <li class="ol-item" data-target="#header-carousel" data-slide-to="1"></li>
                        <li class="ol-item" data-target="#header-carousel" data-slide-to="2"></li>
                    </ol>
               
                    <div class="home-carousel-inner">
                        <div class="carousel-item active-slide-img">
                            <img class="img-carousel" src="img/carousel-1.jpg">
                            <div class="carousel-caption">
                                <div class="carousel-item-container">
                                    <h1 class="item-name">Men Fashion</h1>
                                    <p class="item-description">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                    <a class="item-button" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="img-carousel" src="img/carousel-2.jpg">
                            <div class="carousel-caption">
                                <div class="carousel-item-container">
                                    <h1 class="item-name">Women Fashion</h1>
                                    <p class="item-description">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                    <a class="item-button" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="img-carousel" src="img/carousel-3.jpg">
                            <div class="carousel-caption">
                                <div class="carousel-item-container">
                                    <h1 class="item-name">Kids Fashion</h1>
                                    <p class="item-description">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                    <a class="item-button" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-carousel-right">
                <div class="suggestion-one">
                    <img class="img-suggestion" src="img/offer-1.jpg" alt="">
                    <div class="suggestion-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white text-offer">Special Offer</h3>
                        <button type="submit" class="button-buy">Shop Now</button>
                    </div>
                </div>
                <div class="suggestion-two">
                    <img class="img-suggestion" src="img/offer-2.jpg" alt="">
                    <div class="suggestion-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white text-offer">Special Offer</h3>
                        <button type="submit" class="button-buy">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-feature">
        <div class="home-feature-main">
            <div class="home-feature-container feature-padding">
                <div class="home-feature-content">
                    <h1 class="fa fa-check home-feature-icon"></h1>
                    <h5 class="home-feature-text">Quality Product</h5>
                </div>
            </div>
            <div class="home-feature-container feature-padding">
                <div class="home-feature-content">
                    <h1 class="fa fa-shipping-fast home-feature-icon"></h1>
                    <h5 class="home-feature-text">Free Shipping</h5>
                </div>
            </div>
            <div class="home-feature-container feature-padding">
                <div class="home-feature-content">
                    <h1 class="fas fa-exchange-alt home-feature-icon"></h1>
                    <h5 class="home-feature-text">14-Days Return</h5>
                </div>
            </div>
            <div class="home-feature-container">
                <div class="home-feature-content">
                    <h1 class="fa fa-phone-volume home-feature-icon"></h1>
                    <h5 class="home-feature-text">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="home-categories">
        <h2 class="home-category-title">Categories</h2>
        <div class="home-category-main">
            <div class="home-category-container">
                <a class="home-category-link" href="">
                    <div class="home-category-content">
                        <div class="home-category-img">
                            <img class="category-img-home" src="img/cat-1.jpg" alt="">
                        </div>
                        <div class="home-category-text">
                            <h3 class="category-home-name">Category Name</h3>
                            <small class="home-text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="home-category-container">
                <a class="home-category-link" href="">
                    <div class="home-category-content">
                        <div class="home-category-img">
                            <img class="category-img-home" src="img/cat-1.jpg" alt="">
                        </div>
                        <div class="home-category-text">
                            <h3 class="category-home-name">Category Name</h3>
                            <small class="home-text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="home-category-container">
                <a class="home-category-link" href="">
                    <div class="home-category-content">
                        <div class="home-category-img">
                            <img class="category-img-home" src="img/cat-1.jpg" alt="">
                        </div>
                        <div class="home-category-text">
                            <h3 class="category-home-name">Category Name</h3>
                            <small class="home-text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="home-category-container">
                <a class="home-category-link" href="">
                    <div class="home-category-content">
                        <div class="home-category-img">
                            <img class="category-img-home" src="img/cat-1.jpg" alt="">
                        </div>
                        <div class="home-category-text">
                            <h3 class="category-home-name">Category Name</h3>
                            <small class="home-text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="home-category-container">
                <a class="home-category-link" href="">
                    <div class="home-category-content">
                        <div class="home-category-img">
                            <img class="category-img-home" src="img/cat-1.jpg" alt="">
                        </div>
                        <div class="home-category-text">
                            <h3 class="category-home-name">Category Name</h3>
                            <small class="home-text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
            <div class="home-category-container">
                <a class="home-category-link" href="">
                    <div class="home-category-content">
                        <div class="home-category-img">
                            <img class="category-img-home" src="img/cat-1.jpg" alt="">
                        </div>
                        <div class="home-category-text">
                            <h3 class="category-home-name">Category Name</h3>
                            <small class="home-text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="home-feature-products">
        <h2 class="home-category-title">Feature Products</h2>
        <div class="home-feature-product-main">
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-newest-products">
        <h2 class="home-category-title">Newest Products</h2>
        <div class="home-feature-product-main">
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-feature-product-container">
                <div class="home-feature-products-content">
                    <div class="home-feature-product-img">
                        <img class="product-home-img" src="img/product-1.jpg" alt="">
                        <div class="product-home-action">
                            <a class="product-home-button" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="product-home-button" href=""><i class="far fa-heart"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="product-home-button" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-information">
                        <a class="product-home-name" href="">Product Name Goes Here</a>
                        <div class="product-home-price">
                            <p class="new-price-product-home">$123.00</p><p class="old-price-product-home"><del>$123.00</del></p>
                        </div>
                        <div class="home-feature-product-rating">
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small class="fa fa-star rating-product-home"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-brand-sellers">
        <h2 class="home-category-title">Brand Sellers</h2>
        <div class="home-brand-seller-main">
            <p class="brand-seller-item">
                <img src="img/vendor-1.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-2.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-3.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-4.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-5.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-6.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-7.jpg" alt="">
            </p>
            <p class="brand-seller-item">
                <img src="img/vendor-8.jpg" alt="">
            </p>
        </div>
    </div>

    <div class="home-footer">
        <div class="home-footer-main">
            <div class="home-footer-left">
                <h5 class="home-footer-left-title">Get In Touch</h5>
                <p class="home-footer-left-text">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
                <p class="home-footer-left-local"><i class="fa fa-map-marker-alt"></i>&emsp;123 Street, New York, USA</p>
                <p class="home-footer-left-email"><i class="fa fa-envelope"></i>&emsp;info@example.com</p>
                <p class="home-footer-left-phone"><i class="fa fa-phone-alt"></i>&emsp;(+84)12 345 67890</p>
            </div>
            <div class="home-footer-right">
                <div class="home-footer-right-container">
                    <div class="home-footer-right-content">
                        <h5 class="home-footer-right-title">Quick Shop</h5>
                        <div class="home-footer-right-item">
                            <a class="home-footer-right-item-text" href="#">Home</a>
                            <a class="home-footer-right-item-text" href="#">Shopping</a>
                            <a class="home-footer-right-item-text" href="#">Cart</a>
                            <a class="home-footer-right-item-text" href="#">Favorite</a>
                            <a class="home-footer-right-item-text" href="#">History</a>
                        </div>
                    </div>
                    <div class="home-footer-right-content">
                        <h5 class="home-footer-right-title">My Account</h5>
                        <div class="home-footer-right-item">
                            <a class="home-footer-right-item-text" href="#">Home</a>
                            <a class="home-footer-right-item-text" href="#">Shopping</a>
                            <a class="home-footer-right-item-text" href="#">Cart</a>
                            <a class="home-footer-right-item-text" href="#">Favorite</a>
                            <a class="home-footer-right-item-text" href="#">History</a>
                        </div>
                    </div>
                    <div class="home-footer-right-content">
                        <h5 class="home-footer-right-title">Newsletter</h5>
                        <p class="home-footer-left-text">Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form action="">
                            <div class="footer-email-input">
                                <input type="text" class="input-email-text" placeholder="Your Email Address">
                                <div class="footer-button">
                                    <button class="footer-button-up">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="home-footer-right-title">Follow Us</h6>
                        <div class="footer-social-connection">
                            <a class="footer-social-connection-icon" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="footer-social-connection-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="footer-social-connection-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="footer-social-connection-icon" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>